<!DOCTYPE html>
<html>
<link href="stylestuff.css" rel="stylesheet" type="text/css">
<head>
{% block head %}
<title> Home </title>
{% endblock %}
<style>
h1 { text-align: center;}
h2 { text-align: center;}
h4 { text-align:center;}
#statement {font: italic small-caps 20px/1.5 Helvetica, Arial, sans-serif;
text-align: float;}
</style>
<script>
</script>
</head>
<body>

{% block body %}
<h1>
Round Table
</h1>
<h4>
by The Broken Keyboards
</h4>
<b>
Login </b>
<br>
<form action= "" method = "POST">
<div id="Login">


<input type="text" value= "username" name="username"></input> <br>
<input type="password" value="password" name="password"></input> <br>
<input type="submit" value="Go" name="Go"></input>



<br>
<br>


<button type = "submit" value = "register" name = "Go">Register</button>
</form>
</div>
<div id= "loginerror">
<p> {{ results }} </p>
</div>

<div id="statement">

<h2>
Our Mission
</h2>
Round table is a social media hub for communities to share their experiences in real time. Powered by Instagram and Twitter, Round Table provides a convenvient product that allows users to update the world with their tweets and photos. Started by Patrick "Star" So, Daniel "Teehan" Teehan, Daelin "The Fish" Fischman, and Leopold "The Lion King" Spohngellert. Sign Up TODAY!!!! </div>

{% endblock %}


</body>
</html> 