<link href="static/css/stylestuff.css" rel="stylesheet" type="text/css">
<link href = "static/css/foundation.css" rel = "stylesheet">
<h1>
Round Table
</h1>
<h4>
by The Broken Keyboards
</h4>
<div id='images'>
<b>
your page</b>
<br>
<div id = 'main' style='background-image:url('{{ photo }}')> 
<div id="tweets" style="background-color:#EEEEEE;height:200px;width:300px;float:left;">
<h2> {{ user_hashtag }} </h2>
{% for tweet in tweets %}
<li><p> {{ tweet }} </p></li>
{% endfor %}
</div>
<div id = "images" style="background-color:yellow;height:2000px;width:306px;float:left;".
<p>images: </p>
{% for image in images %}
<li> <img src= '{{ image }}' alt= '{{ user_hashtag }}' width="304" height="228"> </li>
{% endfor %}
</select>
</div>
</div>
</html> 