<!DOCTYPE html>

<link href="static/css/stylestuff.css" rel="stylesheet" type="text/css">
<link href = "static/css/foundation.css" rel = "stylesheet">
<style>
body {background-color: yellow;
	color: black;}
h4 { text-align:left;}
</style>
<div class="row">
<div class="large-4 rows">
<form action= ""  method= "POST">

<h1>Register with Instagram</h1>

<input class = "button"  type = "submit" value = "Instagram" name = "Go"> </input>
<br>
<br>
<h4>Or Don't (Just Use Twitter. No photos...boring!)</h4>
<input class = "button" type = "submit" value = "Login" name = "Go"></input>
<div/>
<div/>
</form>
</html>
