<!DOCTYPE html>
<html>
<head> 
<link href="static/css/stylestuff.css" rel="stylesheet" type="text/css">
<link href = "static/css/foundation.css" rel = "stylesheet">
<title> Register </title>
<style>
body {background-color: yellow;
	color: black;}
h1 { text-align: center;}
h2 { text-align: left;}
h4 { text-align:center;}
</style>
</head>
<body>
<h1> Register </h1>

<div class="row">
<div class="large-4 columns">
<h2> Basics </h2>


<form action= ""  method= "POST">
{{ terror }}<br>
{{ uerror }}<br>

 <input type = "text" name="name" id="name" placeholder = "Full Name"></input><br>
 <input type = "text" name="username" id = "username" placeholder = "Roundtable Username">
</input><br>
 <input type = "password" name="pswd" id = "pswd" placeholder = "password"></input><br>
<input type = "text" name="hashtag" id = "hashtag" placeholder = "Roundtable hashtag (with a # in front)"></input><br>

<h2> Twitter Information </h2> 
In order to create a feed of tweets you must provide your Roundtable's twitter username(s). All your information will remain private. 
<br>


<input type = "text" name="tuname" id = "tuname" placeholder = "Twitter Username (must be public)"></input><br>


<input type = "text" name="tuname2" id = "tuname2" placeholder = "Twitter Username (must be public)"></input><br>


<input type = "text" name="tuname3" id = "tuname3" placeholder = "Twitter Username (must be public)"></input><br>


<div id="twitternames">
</div>
<input type = "submit" value = "Submit" name = "Go" class = "button"></input>
<p> {{ message }} </p>
</div>
</div>
<div id="twitternames">
</div>
<p> {{ message }} </p>



</form>
</body>

</html>
