<!DOCTYPE html>
<html>
<head> 
<link href="stylestuff.css" rel="stylesheet" type="text/css">
<title> Register </title>
<style>
h1 { text-align: center;}
h2 { text-align: left;}
h4 { text-align:center;}
</style>
<script>
</script>
</head>


<h1> Register </h1>

<h2> Basics </h2>
Full Name: <input type = "text" id "name"></input><br>
Roundtable Username: <input type = "text" id = "username">
</input><br>
Password: <input type = "text" id = "pswd"></input><br>

<h2> Twitter Information </h2> 
In order to create a feed of tweets you must provide your Roundtable's twitter usernames and passwords. All your information will remain private. 

 <form action={{auth_url}} method= "post">
  <b>Click here to login with twitter:</b>
  <input type="submit" value="Login">
</form>


<h2> Instagram Information </h2>