<!DOCTYPE html>
<html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="header">
  <head>
  <h1>Instatweet</h1>
  {% block head %}
Build and maintain a Website with Twitter!
</div>
<title>{% block title %}{% endblock %} </title>
{% endblock %}
</head>

<body>
{% block body %}
{%endblock%}
</body>
</html>

<style>
body {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color: Blue;
color: ;
text-align:center;
background-image: url("http://stuycs-ml7.github.com/img/thluffy.png");
}

</style>
